*{
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    padding: 0;
    
   
}
.main-container{
    width: 100%;
    height: 100vh;
    background-color:#3AAFA9;
   
}

.navbar{ 
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    /* background-color: #2B7A78; */
    /* position: sticky; */
}
#names{
    font-size: 40px;
    font-weight: bolder;
   padding-left: 60px;
   

}
#names a{
    color: #17252A;
}

.nav-contents{
        font-size: 25px;
        font-weight:bold;
        width: 35%;
        display: flex;
        justify-content: space-between;
        margin-right: 200px;
        /* background-color: blue; */
       height: 100px;
       align-items: center;
       margin-right: 60px;      
}
.nav-contents a{
    color: #17252A;
    text-decoration: none;
    border-radius: 40px;
    height: 35px;
    width: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-contents a:hover{
    color: #3AAFA9;
    background-color:#17252A;
    
}
 .body{
    display:flex;
    /* justify-content: flex-start; */
  
} 

#body-left{
    width: 50%;
    /* background-color: #3AAFA9; */
    height: 500px;
    margin-left: 100px;
   margin-top: 80px;
   /* border: 2px solid;
   border-radius: 15px;  */
padding-left:100px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;

}
#body-right{
    width: 50%;
    height: 550px;
    /* background-color: #ffffff; */
    /* margin-right: 100px; */
 
   margin-top: 50px;
   /* border-radius: 50%;
   border: 5px solid #17252A ; */
   

}
#body-right img{
   width: 600px;
   height:600px;
   border-radius: 50%;
   border: 3px solid #17252A ;
   box-shadow: 0px 0px 60px 6px #060a0c;
}

#info{
    font-size: 50px;

    color: #17252A;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
/* #a{
    font-size: 20px;
    color: #DEF2F1;
} */
 p{
    text-align: left;
 }

 #icons{
    width:200px;
    height: 200px;
    /* background-color: #2B7A78; */
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    margin-left: 100px;
 }
 .icon{
    width: 80px;
    height: 80px;
    margin: 10px;
    border: 2px solid;
    border-radius: 50%;
    color: #17252A;
  display: flex;
  justify-content: center;
  align-items: center;
 }
 #icons a {
    text-decoration: none;
    color: #17252A;
 }
 #icons a i{
    font-size: 30px;
 }
 .icon:hover{
    background-color: #17252A;
    color: #3AAFA9;
 }
 .button{
    width: 200px;
    height: 100px;
    margin-left: 150px;
    margin-bottom: 100px;
    /* background-color: #17252A; */
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid;
    border-radius: 60px;
 }
 .button a{
    text-decoration: none;
    color: #17252A;
 }
 .button a:hover{
    color: #3AAFA9;
 }
 .button:hover{
    background-color: #17252A;
    transition: transform 0.5s;
    transform: scale(1.1); 
    /* color: #3AAFA9; */
 }

 /* .button:hover::before{
   transition: transform 0.5s;
 }
.button:hover::after{
      transition: transform 0.5s;
      transform: scale(1);
    } */

 .about{
    width:100%;
    height: 100vh;
    background-color:#17252A;   
 }
 .content-about{
  padding-top:150px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
 }
 .content-about h1{
    color:#3AAFA9;
    font-size: 60px;
    text-align: center;
    padding-top: 50px;
    text-decoration: underline;
 }
 #contents{
    width: 70%;
    /* height: 350px; */
    color: #17252A;
    background-color: #3AAFA9;
    font-size: 30px;
    margin-top: 20px;
    border-radius: 40px;
    box-shadow: 0px 0px 15px  #3AAFA9;

 }
 
 .skill{
   width: 100%;
   height: 100vh;
   background-color: #3AAFA9;
   display: flex;
   flex-direction: column;
   /* justify-content: flex-start; */
   /* align-items: center; */
 }
 .skill h1{
   color:#17252A;
   padding-top:50px ;
   font-size: 60px;
   text-decoration: underline;
   text-align: center;



  
 }
 .skills-contents{
   width: 30%;
   height: 500px;
   background-color:#17252A;
   margin:20px;
   margin-top: 40px;
   padding: 20px;   
   border: 2px solid #17252A;
   border-radius: 50px;
   color: #3AAFA9;
   font-size: large;
   box-shadow: 0px 0px 15px 5px #17252A;
 }
 .skills-contents:hover{
   transition: transform 0.5s;
   transform: scale(1.05);
   color: #17252A;
   background-color: #3AAFA9;
 }

 .skill-container{
   display: flex;
   justify-content: center;
   margin: 30px;
   
   
 }
 .skills-contents h2{
   text-align: center;
   font-weight: bold;
 }
 .skills-contents p{
   text-align: justify;
   padding-top: 20px;
 }


 /* Project Page */
 .project{
   width: 100%;
   height: 100vh;
   background-color:#17252A ;
 }
 .project h1{
   color:#3AAFA9;
   font-size: 60px;
   text-align: center;
   padding-top: 50px;
   text-decoration: underline;

 }


 .project-container{
   display: flex;
   justify-content: center;
   padding-left: 20px;
   padding-right: 20px;
   
 }
 .project-content{
   width: 40%;
   height: 500px;
   background-color: #3AAFA9;
   margin: 30px;
   border-radius: 50px;
   box-shadow: 0px 0px 15px  #3AAFA9;
  }
  .project-content:hover{
   transition: transform 0.5s;
   transform: scale(1.05);

  }
 
 
.images{
   width: 100%;
   height: 100%;
   border-radius: 30px;
   border: 3px solid #3AAFA9 ;
   
}
/* Contact Page  */
.contact{
   width: 100%;
   height: 100vh;
   background-color:#3AAFA9 ;
   display: flex;
   flex-direction: column;
  align-items: center;
}
.contact h1{
   color:#17252A;
   font-size: 60px;
   text-align: center;
   padding-top: 50px;
   text-decoration: underline;

 }
 .contact-main{
   width: 40%;
   height: 600px;
   background: #17252A;
   margin-top: 30px;
   border-radius: 50px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   box-shadow: 0px 0px 60px 6px #17252A;
   /* position: absolute; */

 }
 .contact-container{
   width: 500px;
   height: 50px;
   background-color:#3AAFA9;
   /* margin: 20px; */
   margin-top:20px ;
   border: 2px solid #3AAFA9;
   border-radius: 20px; 
   font-size: 20px;
   font-weight: 100;
   padding-left: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
   

 }
#form{
   margin: 30px;
   display: flex;
   flex-direction: column;
   align-items:flex-start;
   color:#3AAFA9;
   font-size: 20px;
}

#message{
   height: 200px;
   
}
textarea::placeholder{
   color:black;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-size: 20px;
   font-weight: 100;
      /* padding-left: 10px; */

}
input::placeholder{
   color:black;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-size: 20px;
   font-weight: 100;
   /* padding-left: 10px; */
   
}

#msg-btn{
   background-color:#3AAFA9;
   width: 200px;
   height: 50px;
   margin: 30px;
   margin-left: 150px;
   font-size: larger;
   font-weight: bold;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   border-radius: 40px;
   border: none;
   

}


input.contact-container:focus{
   border: 3px solid black;
}
#form a{
   text-decoration: none;
   color: black;
}
#msg-btn:hover{
   background-color: rgb(64, 176, 64);
   color: #000000;
   
   transition: transform 0.5s;
   transform: scale(1.1); 
}
#form a:hover{
   color: #3AAFA9;
}
.top-btn{
   background-color: #ffffff;
   width: 40px;
   height: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   /* margin-bottom: 5px;
   margin-left: 90%; */
   position: fixed;
   bottom: 50px;
   right: 50px;
   box-shadow: 0px 0px 15px black;
}
.top-btn:hover{
   transition: transform 0.3s;
   transform: scale(1.1);
}
/* .top-btn.odd{
   background-color: #3AAFA9;
} */
@media screen and (max-width :1200px ) {
   #body-right{
      display: none;
   }
   #icons{
      margin: 0;
   }
}
@media screen and (max-width:1140px) {
   .skills-contents{
      height: auto;
   }
   
}